<div class="main-content">
    <div class="container-fluid">
        <div class="row">
           

            <div class="col-md-12">
                <div class="card card-plain">
             
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                           
                                </tr>
                            </thead>
                            <tbody>
                               
                                
                                        <tr *ngFor='let pessoas of pessoas; let i = index'>
                                                <td>{{ pessoas.nome }}</td>
                                                <td>{{ pessoas.cpf }}</td>
                                                <td>
                                                    
                                                        <audio controls>
                                                            <source src="http://localhost:3000/audio" type="audio/ogg">
                                                        </audio>
                                                        

                                                </td>
                                        </tr>

                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
